{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <img  src="{{ resumeData['avatarUrl'] }}" width="280" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ 'form.label.owner'|trans }}</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ resumData['owner'] }}</div>
                                <hr class="sidebar-divider">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ 'form.label.total_repo'|trans }}</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ resumData['repositories']|length }}</div>
                                <hr class="sidebar-divider">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                {% for respository in resumeData['repositories'] %}
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ 'form.label.repo_name'|trans }}</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ repository.name }}</div>
                                 <hr class="sidebar-divider">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ 'form.label.repo_link'|trans }}</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ repository.link }}</div>
                                 <hr class="sidebar-divider">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ 'form.label.repo_description'|trans }}</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ repository.description }}</div>
                                 <hr class="sidebar-divider">
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}